### Import Necessary Libraries

In [8]:
from pandas_datareader import data, wb
import pandas as pd
import numpy as np
import datetime
%matplotlib inline

## Create date Variables

In [11]:
start= datetime.datetime(2006,1,1)
end=   datetime.datetime(2016,1,1)

In [12]:
###  Get Remote Data
## Bank Of America  BAC
BAC = data.DataReader('BAC','yahoo',start,end)
## CitiGroup  C
C = data.DataReader('C','yahoo',start,end)
## Goldman Sachs GS
GS = data.DataReader('GS','yahoo',start,end)
##JPMorgan Chase  JPM
JPM = data.DataReader('JPM','yahoo',start,end)
##Morgan Stanley  MS
MS = data.DataReader('MS','yahoo',start,end)
## Wells Fargo  WFC
WFC = data.DataReader('WFC','yahoo',start,end)

### CREATE A LIST OF STOCK TICKER SYMBOLS (AS STRINGS) IN ALPHABETICAL ORDER, AND CALL THE LIST TICKERS

In [14]:
tickers = ['BAC','C','GS','JPM','MS','WFC']

### Use pd.cocat to concatenate the bank dataframes into a single dataframe called bank_stocks

In [16]:
bank_stocks = pd.concat([BAC,C,GS,JPM,MS,WFC], axis=1, keys=tickers)

### Check the head of the bank_stocks dataframe

In [19]:
bank_stocks.head()

                  BAC                                                          \
                 High        Low       Open      Close      Volume  Adj Close
Date
2006-01-03  47.180000  46.150002  46.919998  47.080002  16296700.0  35.523922
2006-01-04  47.240002  46.450001  47.000000  46.580002  17757900.0  35.146645
2006-01-05  46.830002  46.320000  46.580002  46.639999  14970700.0  35.191933
2006-01-06  46.910000  46.349998  46.799999  46.570000  12599800.0  35.139107
2006-01-09  46.970001  46.360001  46.720001  46.599998  15619400.0  35.161732

                     C                                      ...         MS  \
                  High         Low        Open       Close  ...       Open
Date                                                        ...
2006-01-03  493.799988  481.100006  490.000000  492.899994  ...  57.169998
2006-01-04  491.000000  483.500000  488.600006  483.799988  ...  58.700001
2006-01-05  487.799988  484.000000  484.399994  486.200012  ...  58.549999
2006-01-06  489.000000  482.000000  488.799988  486.200012  ...  58.770000
2006-01-09  487.399994  483.000000  486.000000  483.899994  ...  58.630001

                                                   WFC                        \
                Close     Volume  Adj Close       High        Low       Open
Date
2006-01-03  58.310001  5377000.0  38.006454  31.975000  31.195000  31.600000
2006-01-04  58.349998  7977800.0  38.032536  31.820000  31.365000  31.799999
2006-01-05  58.509998  5778000.0  38.136818  31.555000  31.309999  31.500000
2006-01-06  58.570000  6889800.0  38.175922  31.775000  31.385000  31.580000
2006-01-09  59.189999  4144500.0  38.580029  31.825001  31.555000  31.674999


                Close      Volume  Adj Close
Date
2006-01-03  31.900000  11016400.0  21.045347
2006-01-04  31.530001  10870000.0  20.801256
2006-01-05  31.495001  10158000.0  20.778162
2006-01-06  31.680000   8403800.0  20.900213
2006-01-09  31.674999   5619600.0  20.896914

[5 rows x 36 columns]

## EDA Exporatory Data Analysis